<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UBER RIDES PREDICTION MODEL</title>
    <link rel = "stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h1>Uber Weekly Rides Analysis</h1>
    <form action="{{url_for('predict')}}" method="post">
        <input type="text" name="PricePerWeek" placeholder="Enter price per week" required="required" />
        <input type="text" name="Population" placeholder="Enter population" required="required" />
        <input type="text" name="MonthlyIncome" placeholder="Enter monthly income" required="required" />
        <input type="text" name="AverageParkingPerMonth" placeholder="Enter Average parking per month" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
    <br>
    <br>
    {{ prediction_text }}
</body>
</html>